@import "~bootstrap/dist/css/bootstrap.min.css";
// $fa-font-path: "~font-awesome/fonts";
// @import "~font-awesome/scss/font-awesome.scss";

@font-face {
  font-family: "floppywav";
  font-weight: bold;
  src: url("fonts/floppywav-Regular.ttf") format("ttf");
}

$primary-color: #2498f3;
$secondary-color: #fff;

$font-secondary-color: #8e8e8e;

.navbar {
  background-color: $primary-color;
}

.nav-input {
  background-color: $primary-color;
  color: $secondary-color !important;
  width: 350px !important;
  height: 40px;
  border-radius: 25px;
  border-color: $secondary-color;

  &:focus {
    background-color: $primary-color;
  }

  &:hover {
    background-color: $primary-color;
  }
}

.btn {
  color: $secondary-color;
  border-color: $secondary-color;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 10px;
  height: 40px;

  &:hover {
    color: $primary-color;
    border-color: $secondary-color;
    background-color: $secondary-color;
  }
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

@include placeholder {
  color: $secondary-color !important;
  font-size: 10px;
  text-transform: uppercase;
}

.loader-body {
  position: relative;
}

#loader-container {
  width: 320px;
  margin: 0 auto;
  margin-top: 20%;

  canvas {
    margin: 0 auto;
  }
}

.search-element-component:hover {
  hr {
    color: $primary-color;
    border-color: $primary-color;
    background-color: $primary-color;
  }
}

.search-element-row {
  margin-top: 25px;
  height: 190px;
  padding: 5px;
  cursor: pointer;

  p {
    color: $font-secondary-color;
  }
}

.search-image {
  height: 180px;
  width: 320px;
}

.footer {
  height: 75px;
  background-color: $primary-color;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-body {
  margin-top: 2.5%;
}

//
//
// @font-face {
//   font-family: 'LibreFranklin';
//   src: url('./resources/fonts/LibreFranklin-Regular.ttf'); /* IE9 Compat Modes */
//   src: url('./resources/fonts/LibreFranklin-Regular.ttf') format('embedded-opentype'), /* IE6-IE8 */
//        url('./resources/fonts/LibreFranklin-Regular.ttf') format('woff2'), /* Super Modern Browsers */
//        url('./resources/fonts/LibreFranklin-Regular.ttf') format('woff'), /* Pretty Modern Browsers */
//        url('./resources/fonts/LibreFranklin-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('./resources/fonts/LibreFranklin-Regular.ttf') format('svg'); /* Legacy iOS */
// }
